body *{
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 45pt;
  background: -webkit-linear-gradient(#FBC740, #B68D40,#6e4d0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 25pt;
  color: #B68D40;
  text-align: center;
}

body {
    background-color: #D6AD60;
}

.page {
  width: 80%;
  height: 100%;
  background-color: #F4EBD0;
  margin: auto;
  padding: auto;
  padding-top: auto;
  text-align: justify;
}

.vis-container {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.pure-g {
  margin: auto;
}

.pure-u-1-1{
  margin-left: auto;
  margin-right: auto;
}

.pure-u-1-2{
  margin-left: auto;
  margin-right: auto
}

.pure-u-1-2{
  margin-left: auto;
  margin-right: auto
}

.pure-u-1-2{
  margin-left: auto;
  margin-right: auto
}

.small-font {
  font-size: 14px;
}

.vega-bind {
text-align: center;
padding: 5px;
}